* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 15vh;
}

nav {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.menu a {
  font-weight: bolder;
}

.menu a:hover {
  color: gray;
  text-decoration: underline rgb(152, 152, 152);
}
.about {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px dotted rgb(230, 228, 228);
}
.abtimg {
  width: 100%;
  height: 65vh;
  position: relative;
}
.abtimg img {
  width: 100%;
  height: 100%;
}
.abttxt {
  padding-top: 180px;
  width: 100%;
  height: 30vh;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 20px;
}
.abttxt h1 {
  font-size: 50px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.abttxt p {
  font-weight: bolder;
  font-style: italic;
  font-size: 18px;
}
.skills {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 2px dotted gray;
}
.skillsimg {
  width: 43%;
  height: 78%;
}
.skillsimg img {
  width: 100%;
  height: 100%;
}
.skillstxt {
  width: 42%;
  height: 78%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  line-height: 1.7;
}
.sk1 h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sk2 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(194, 193, 193);
}
.sk3 {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.sk3 i {
  font-size: 40px;
}
.sk3 p {
  font-style: italic;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sk4 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(193, 189, 189);
  font-size: 15px;
}
.sk5 {
  height: 108px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-top: 2px dotted rgb(202, 199, 199);
}
.sk5 i {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amazing {
  width: 100%;
  height: 105vh;
  border-bottom: 2px dotted rgb(198, 196, 196);
}
.amahead {
  width: 100%;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.amahead h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.amahead p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(195, 193, 193);
  font-size: 15px;
}
.amacon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amaimg {
  width: 31%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
.amaimg img {
  width: 90%;
}
.amaimg h1 {
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.amaimg p {
  color: gray;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.amatxt {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  opacity: 0;
  background: black;
  transition: opacity 0.4s ease-in-out;
}

.amaimg:hover .amatxt {
  opacity: 1;
}

.amatxt i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.amatxt i:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}

.services{
  width: 100%;
  height: 115vh;
  border-bottom: 2px dotted rgb(198, 196, 196);
}
.serhead {
  width: 100%;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.serhead h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.serhead p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(195, 193, 193);
  font-size: 15px;
}
.sercon {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.sertxt{
  width: 27%;
  height: 70vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 3px 3px 2px 2px rgb(237, 236, 236);
}
.sertxt h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}
.sertxt p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13.5px;
  line-height: 1.7;
  text-indent: 50px;
  text-align-last: center;
  color: rgb(87, 86, 86);
}
.subscribe {
  width: 100%;
  height: 76vh;
  display: flex;
  justify-content: center;
}
.subleft {
  width: 60%;
  display: flex;
}
.subleft1 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.subleft1 > h1 {
  font-size: 30px;
  line-height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subleft1 > p {
  color: rgb(171, 170, 170);
}
.subleft2 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.subleft2 input {
  flex: 1; /* each input expands equally */
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.subleft2 i {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subleft2 i:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.subright {
  width: 30%;
}
.subright1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.subitem1 {
  line-height: 23px;
  width: 150px;
  height: 70px;
}
.subitem1 > h1 {
  padding-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subitem1 > p {
  color: rgb(180, 179, 179);
}

footer {
  background-color: rgb(38, 37, 37);
  width: 100%;
}
.footer1 {
  color: white;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid gray;
}
.footc1 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  font-size: 13px;
}
.footc1 img {
  padding-bottom: 10px;
}
.footc2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
.footc2 h3 {
  padding-bottom: 30px;
}
.footc2 p {
  font-size: 13px;
}
.footc3 {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
.footc3 h3 {
  padding-bottom: 10px;
}
.footc3 p {
  font-size: 13px;
}
.footc4 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
.footc4 h3 {
  padding-bottom: 10px;
}
.footc4 p {
  font-size: 13px;
}

hr {
  margin: 0px 70px;
}

.footer2 {
  color: white;
  width: 100%;
  height: 30vh;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer2 a {
  text-decoration: none;
  color: rgb(160, 201, 201);
}
.footer2 i {
  padding-top: 20px;
  font-size: 20px;
  color: rgb(170, 214, 214);
}
