* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 15vh;
}

nav {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.menu a {
  font-weight: bolder;
}

.menu a:hover {
  color: gray;
  text-decoration: underline rgb(152, 152, 152);
}
.contact {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px dotted rgb(230, 228, 228);
}
.contimg {
  width: 100%;
  height: 65vh;
  position: relative;
}
.contimg img {
  width: 100%;
  height: 100%;
}
.conttxt {
  padding-top: 180px;
  width: 100%;
  height: 30vh;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 20px;
}
.conttxt h1 {
  font-size: 50px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.conttxt p {
  font-weight: bolder;
  font-style: italic;
  font-size: 18px;
}

/* Map */

.map {
  width: 100%;
  height: 83vh;
  border-bottom: 2px dotted rgb(234, 232, 232);
  display: flex;
  justify-content: center;
}
.mapdia {
  width: 85%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
}
.mapimg{
  width: 45%;
  background-color: blueviolet;
}
.mapimg iframe{
  width: 100%;
  height: 100%;
}
.mapcon{
  width: 50%;
}
.maptxt1{
  width: 100%;
  height: 25%;
  line-height: 1.5;
}
.maptxt1 h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.maptxt1 p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: rgb(185, 183, 183);
}
.maptxt2{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.maptxt2 input {
  width: 48%;
  padding: 10px 25px;
  font-size: 16px;
  text-align: left;
}

.maptxt2 input::placeholder {
  text-align: left;
}

.maptxt3{
  width: 100%;
  height: 30%;
  background-color: violet;
}
.maptxt3 textarea{
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: gray;
}
.maptxt4{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.maptxt4 i{
  width: 45px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maptxt4 i:hover{
  background-color: white;
  color: black;
  border: 1px solid gray;
}

/* Susscribe */

.subscribe {
  width: 100%;
  height: 76vh;
  display: flex;
  justify-content: center;
}
.subleft {
  width: 60%;
  display: flex;
}
.subleft1 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.subleft1 > h1 {
  font-size: 30px;
  line-height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subleft1 > p {
  color: rgb(171, 170, 170);
}
.subleft2 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.subleft2 input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.subleft2 i {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subleft2 i:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.subright {
  width: 30%;
}
.subright1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.subitem1 {
  line-height: 23px;
  width: 150px;
  height: 70px;
}
.subitem1 > h1 {
  padding-bottom: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subitem1 > p {
  color: rgb(180, 179, 179);
}

footer {
  background-color: rgb(38, 37, 37);
  width: 100%;
}
.footer1 {
  color: white;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid gray;
}
.footc1 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  font-size: 13px;
}
.footc1 img {
  padding-bottom: 10px;
}
.footc2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
.footc2 h3 {
  padding-bottom: 30px;
}
.footc2 p {
  font-size: 13px;
}
.footc3 {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
.footc3 h3 {
  padding-bottom: 10px;
}
.footc3 p {
  font-size: 13px;
}
.footc4 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
.footc4 h3 {
  padding-bottom: 10px;
}
.footc4 p {
  font-size: 13px;
}

hr {
  margin: 0px 70px;
}

.footer2 {
  color: white;
  width: 100%;
  height: 30vh;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer2 a {
  text-decoration: none;
  color: rgb(160, 201, 201);
}
.footer2 i {
  padding-top: 20px;
  font-size: 20px;
  color: rgb(170, 214, 214);
}
